body {/*
background-image: url('background.jpg');
background-repeat: no-repeat;
background-size: 100%;
*/
    background-color: #e6e7de;
    background-color: #73d393;
    background-color: #0b0c29;
    background-repeat: no-repeat;
    color: #f8f8f8;
    background-attachment: fixed;
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url('background.jpg');
}

#background-canvas {
    background-image: url('background.jpg');
}

#nav-bar-container {
    background-color: rgba(0,0,0, 0.8);
    color: white;
}

#nav-bar-container a {
    color: white;
}

.card {
    box-shadow: 0 0 5px 0 ;
    background: inherit;
    margin: 200px;
    display:block;
    /*opacity:.75;filter: blur(.5px);
         filter: blur(1px);*/
}

label {       
    color: #f8f8f8;
}

h3 {
    color: black;
    color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border-radius: 5px;
    min-height:40px;
    padding-left:10px;
    width:100%;
}

.row {
    width: 100%;
    margin:0;
}

.card-body {
    padding:1.5rem;
}

.test-blur {
    background: inherit;
    content: '';
    /*position: absolute;*/
    top: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
}

#login-form {
    filter:brightness(.5);
    filter:contrast(150%);
}

.dropdown-menu {
    background-color:rgba(0,0,0, 0.6);
    padding: 0;
    border-radius: .3rem;
}

.dropdown-item {
    padding: .5rem 1rem;
}

.dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus {
    font-weight: 600;
    filter: brightness(90%);
    /*background-color: inherit;*/
    background-color:rgba(0,0,0, 1);
}